<template>
	<view class="content">
		<view class="line" v-for="(n,i) in pageMsg.pages" :key="i" @click="tapto(n)">
			{{n.style.navigationBarTitleText}}
		</view>
	</view>
</template>

<script>
	import pageMsg from '@/static/pages.json'
	export default {
		data() {
			return {
				title: 'Hello'
			}
		},
		computed:{
			pageMsg(){
				return pageMsg
			}
		},
		onLoad() {
			console.log(pageMsg);
		},
		methods: {
			tapto(e){
				uni.navigateTo({
					url:'/'+e.path+'?id=1'
				})
			}
		}
	}
</script>

<style>
	.content{
		padding: 20rpx;
	}
	.line{
		background-color: #4CD964;
		color: #FFFFFF;
		width: 100%;
		height: 100rpx;
		border-radius: 10rpx;
		margin-bottom: 20rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50rpx
	}
</style>
