<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <script>
            var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
            document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')
        </script>
        <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
    </head>
	
    <body>
		<script type="text/javascript" src="https://js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.1.5.2.js"></script>
		
		<script type="text/javascript">
			window.jsfunction = function(data){
				var canshutype =  typeof data ;
				var mes = typeof data == "object" ?  JSON.stringify(data) : data; 
				alert("收到参数"+canshutype);
				uni.$emit('post',mes)
				console.log('data', data);
			}
		</script>
        <noscript>
            <strong>浏览器不支持javascript!</strong>
        </noscript>
        <div id="app"></div>
    </body>
	
</html>