<template>
	<view class="images">
		<image lazy-load :src="n" v-for="(n,i) in images" mode="widthFix" :key="i"></image>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				images: [],
				images0: [
					'../../static/会议/会议_01.jpg',
					'../../static/会议/会议_02.jpg',
					'../../static/会议/会议_03.jpg',
					'../../static/会议/会议_04.jpg',
					'../../static/会议/会议_05.jpg',
					'../../static/会议/会议_06.jpg',
					'../../static/会议/会议_07.jpg',
					'../../static/会议/会议_08.jpg',
					'../../static/会议/会议_09.jpg',
					'../../static/会议/会议_10.jpg',
				],
				images1: [
					'../../static/感冒/感冒_01.jpg',
					'../../static/感冒/感冒_02.jpg',
					'../../static/感冒/感冒_03.jpg',
					'../../static/感冒/感冒_04.jpg',
					'../../static/感冒/感冒_05.jpg',
				],
				title: ['会议', '一吹空调就感冒，弄清病因再选药']
			}
		},
		onLoad(options) {
			this.images = this['images' + options.id]
			uni.webView.postMessage({
				data: {
					Navtitle: this.title[options.id]
				}
			})
		},
		methods: {

		}
	}
</script>

<style>
	.images image {
		width: 100%;
		font-size: 0;
		display: block;
	}
</style>
