<template>
	<view>
		<button type="default" ref="but" id='but' @click="toApp({
			title:'hehe'
		})">测试一下</button>
		<view class="">
			{{msg}}
		</view>
	</view>
</template>
<script>
	// let uniBridge = require('@/uni.webview.js')
	export default {

		data() {
			return {
				msg: 'cesji',
			}
		},
		onLoad(e) {
			uni.$on('post', (data) => {
				console.log(data);
				this.msg = data
			})
		},
		mounted() {

		},
		methods: {
			toApp(msg) {
				uni.webView.postMessage({
					data: {
						action: msg
					}
				})
			},
		}
	}
</script>

<style>

</style>
